.profileContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.profileImageSection {
  grid-area: 1 / 1 / 2 / 2;
}

.profileImageDiv {
  height: 12em;
  width: 12em;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #7e7e7e;
  filter: drop-shadow(0 0 8px #000000);
}

.profileDescriptionSection {
  grid-area: 1 / 2 / 2 / 3;
}

.title {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
}

.portfolioContainer {

}

.portfolioTitle {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  margin-top: 2em;
}

.portfolioCardImage {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.portfolioCardBtn {
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.portfolioCardBtn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolioCardsItem {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .portfolioCardsItem {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .portfolioCardsItem {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cardContent {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.portfolioCardTitle {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 5px;
  text-align: center;
}

.portfolioCardText {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  margin: 0 0.75em 0.75em 0.75em;
}